#Value	type	name
0	label	No reference genome
0	contig_count_QC_threshold	200
0	contig_length_QC_threshold	0
0	contig_N50_QC_threshold	200000
0	contig_N99_QC_threshold	2000
1	label	Salmonella serovar Typhimurium LT2
1	species	Salmonella
1	name	serovar Typhimurium LT2
1	reference_genome_identifier	
1	reference_genome_size	4857000
1	genome_size_ratio_QC_threshold	0.1
1	contig_count_QC_threshold	200
1	contig_length_QC_threshold	0
1	contig_N50_QC_threshold	200000
1	contig_N99_QC_threshold	2000
2	label	E. coli ATCC 35150 NalR
2	species	E. coli
2	name	E. coli ATCC 35150 NalR
2	reference_genome_identifier	ASM93507v1
2	reference_genome_size	5324560
2	genome_size_ratio_QC_threshold	0.3
2	contig_count_QC_threshold	200
2	contig_length_QC_threshold	0
2	contig_N50_QC_threshold	200000
2	contig_N99_QC_threshold	2000
